.brevetCard {
	margin: auto;
}

.brevetCard p>i {
	margin-right: 5px;
	color: rgb(255, 91, 93);
}

.brevetCard>div {
	margin-left: 10px;
	padding: 10px;
	border-radius: 10px;
	margin-top: 5px;
	width: 32%;
	background: white;
}

.icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.invention {
	padding: 1.5rem;
	background-color: #ff6768;
	color: white;
	border: 1px solid white;
	border-radius: 10px;
	
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}

.invention a {
	display: block;
	color: white;
	
}

.invention div {
	display: flex;
	justify-content: space-around;
}

.invention hr {
	background-color: white;
		width: 100%;
	
}